@import "./variables.scss";

$progress-ring-diameter: 10rem;

.hero {
	height: $hero-height;
	margin: 0 $view-mx-mobile;

	display: flex;
	flex-direction: column;
	justify-content: center;

	font-size: 1.4rem;

	h1 {
		margin: 0;
	}
}

.progress-ring {
	display: grid;
	place-items: center;
	position: relative;

	svg {
		display: block;
		width: $progress-ring-diameter;
		height: $progress-ring-diameter;
		transform: rotate(-90deg);

		circle {
			fill: none;
			stroke: $monochrome-0;
			stroke-width: 10;
			stroke-linecap: round;
		}

		.foreground {
			stroke: lightgreen;
			stroke-dasharray: 314;
		}
	}

	span {
		position: absolute;
		display: block;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.5rem;
	}
}

.rep-counter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 1rem;

	span {
		display: block;
		width: 1rem;
		height: 1rem;
		background-color: $monochrome-0;
		border-radius: 50%;

		&:not(:last-of-type) {
			margin-right: 0.25rem;
		}

		&.complete {
			background-color: lightgreen;
		}
	}
}

.todo-list {
	h2 {
		text-align: center;
		font-size: 2rem;
		margin: 0 0 1.5rem 0;
	}

	.list {
		.item-container {
			display: flex;
			flex-direction: column;
			position: relative;

			&:not(:last-of-type) {
				margin-bottom: 0.5rem;
			}

			input[type="text"] {
				border: none;
				height: 3rem;
				border-radius: 1rem;
				background-color: $monochrome-0;
				padding: 0 5rem 0 2rem;
			}

			button {
				color: $monochrome-2;
				font-size: 3rem;

				margin: 0;
				padding: 0;
				border: none;
				background-color: transparent;

				display: block;
				position: absolute;
				right: 0;

				height: 3rem;
				width: 3rem;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				transform: rotate(45deg);

				&.new {
					transform: rotate(0);
				}
			}
		}
	}
}
