@import "./variables.scss";

$nav-mobile-height: 4rem;
$nav-transition-duration: 0.25s;

$progress-ring-diameter: 10rem;

.default-layout {
	.view {
		margin-bottom: 6rem;
	}
}

.navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;

	.directory {
		background-color: $monochrome-1;
		color: $color-0;

		display: flex;
		flex-direction: column;

		padding: 2rem 4rem;
		border-top-left-radius: 2rem;
		border-top-right-radius: 2rem;

		transform: translateY(100%);
		transition: all $nav-transition-duration ease-in-out;
		opacity: 0;

		position: absolute;
		left: 0;
		right: 0;
		bottom: calc($nav-mobile-height);

		&.active {
			transform: translateY(0);
			opacity: 1;
			display: block;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: flex;
				flex-direction: column;

				&:not(:last-of-type)::after {
					content: "";
					display: block;
					height: 2px;
					background-color: $monochrome-2;
					margin: 1rem 0;
				}

				a,
				button {
					text-decoration: none;
					text-align: center;
					font-size: 1.25rem;
					color: $color-0;
					display: block;

					i {
						display: none;
					}
				}

				a.button,
				button {
					background-color: transparent;
					border: 1px solid $color-0;
					border-radius: 99rem;
					padding: 0.5rem 0;
				}
			}
		}
	}

	.bar {
		background-color: $monochrome-0;
		color: $color-0;

		height: $nav-mobile-height;
		padding: 0.5rem 1rem;

		display: flex;
		flex-direction: row;
		position: relative;

		.brand {
			display: flex;
			flex-direction: row;

			img {
				height: 100%;
			}

			.text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-left: 0.5rem;

				span:nth-of-type(2) {
					font-weight: 300;
					font-size: 0.8rem;
					align-self: center;
				}
			}
		}

		.burger {
			aspect-ratio: 1;
			margin: 0.5rem 0.5rem 0.5rem auto;
			border: 1px solid $color-0;
			border-radius: 0.75rem;

			position: relative;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			span,
			span::before,
			span::after {
				height: 2px;
				position: absolute;
				background-color: $color-0;
				transition: all $nav-transition-duration ease-in-out;
			}

			span {
				width: calc(100% - (2 * 0.75rem));
			}

			span::before,
			span::after {
				content: "";
				width: 100%;
			}

			span::before {
				transform: translateY(-0.5rem);
			}
			span::after {
				transform: translateY(0.5rem);
			}

			&.active {
				span {
					background-color: transparent;
				}

				span::before {
					transform: rotate(45deg);
				}
				span::after {
					transform: rotate(-45deg);
				}
			}
		}
	}
}

.hero {
	height: $hero-height;
	margin: 0 $view-mx-mobile;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.progress-ring {
	display: grid;
	place-items: center;
	position: relative;

	svg {
		display: block;
		width: $progress-ring-diameter;
		height: $progress-ring-diameter;
		transform: rotate(-90deg);

		circle {
			fill: none;
			stroke: $monochrome-0;
			stroke-width: 10;
			stroke-linecap: round;
		}

		.foreground {
			stroke-dasharray: 314;

			&.work {
				stroke: lightgreen;
			}

			&.break {
				stroke: lightcoral;
			}
		}
	}

	span {
		position: absolute;
		display: block;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.5rem;
	}
}

.rep-counter {
	display: flex;
	flex-direction: row;
	justify-content: center;

	span {
		display: block;
		width: 1rem;
		height: 1rem;
		background-color: $monochrome-0;
		border-radius: 50%;

		&:not(:last-of-type) {
			margin-right: 0.25rem;
		}

		&.complete {
			background-color: lightgreen;
		}
	}
}

.reminders {
	h2 {
		text-align: center;
		font-size: 2rem;
		margin: 0 0 1rem 0;
	}

	.list {
		.item-container {
			display: flex;
			flex-direction: column;
			position: relative;

			&:not(:last-of-type) {
				margin-bottom: 0.5rem;
			}

			input[type="text"] {
				border: none;
				height: 3rem;
				border-radius: 1rem;
				background-color: $monochrome-0;
				padding: 0 3rem 0 1rem;

				&:focus {
					outline: 0.2rem solid lightblue;
				}
			}

			button {
				margin: 0;
				padding: 0;
				border: none;
				background-color: transparent;

				position: absolute;
				right: 0;

				height: 3rem;
				width: 3rem;
				border-radius: 1rem;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				@keyframes zoom-in-and-out {
					50% {
						transform: scale(1.25);
					}

					100% {
						transform: scale(1);
					}
				}

				&::before {
					content: "+";
					position: absolute;
					color: $monochrome-2;
					font-size: 2rem;
					transform: rotate(45deg);
					transition: all 0.25s ease-in-out;
				}

				&.new::before {
					transform: rotate(0);
				}

				&:hover::before {
					animation-name: zoom-in-and-out;
					animation-duration: 0.5s;
					color: $monochrome-3;
				}
			}
		}
	}
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: center;

	button {
		padding: 0;
		border: none;
		height: 3rem;
		width: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $monochrome-0;
		border-radius: 50%;

		&:not(:last-of-type) {
			margin-right: 0.5rem;
		}

		i {
			font-size: 1.2rem;
		}

		.fa-play {
			transform: translateX(0.1rem);
		}
	}
}

@media screen and (min-width: 1000px) {
	.default-layout {
		.view {
			margin-bottom: 2rem;
			margin-left: 6rem;
		}
	}

	.navbar {
		top: 0;
		bottom: 0;
		left: 0;
		right: calc(100vw - 6rem);
		display: flex;
		flex-direction: column;

		.directory {
			z-index: 12;
			position: absolute;
			opacity: 1;
			padding: 1rem;
			transform: translateY(-50%);
			top: 50%;
			right: 0;
			left: 0;
			bottom: unset;
			border-radius: 0;
			background-color: transparent;

			&.active {
				transform: translateY(-50%);
			}

			ul li a,
			ul li button,
			ul li a.button {
				padding: 1rem 0;

				i {
					display: block;
				}

				span {
					display: none;
				}
			}

			ul li button.button,
			ul li a.button {
				border: none;
			}
		}

		.bar {
			flex-direction: column;
			height: auto;
			flex-grow: 1;
			padding: 1rem;
			z-index: 11;

			.brand {
				flex-direction: column-reverse;

				.text {
					margin-left: 0;
					margin-bottom: 0.5rem;
					text-align: center;
				}
			}

			.burger {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 1400px) {
	.default-layout {
		.view {
			margin-left: 16rem;
		}
	}

	.navbar {
		right: calc(100vw - 16rem);
		.directory {
			ul li a,
			ul li button,
			ul li a.button {
				padding: 1rem 0;
				display: flex;
				flex-direction: row;
				padding-left: 1rem;

				i {
					display: block;
				}

				span {
					display: block;
					margin-left: 0.5rem;
				}
			}
		}

		.bar {
			.brand {
				flex-direction: row;

				img {
					height: 4rem;
				}

				.text {
					margin-bottom: 0;
					margin-left: 0.5rem;
				}
			}
		}
	}
}
