@import "./variables.scss";

$progress-ring-diameter: 10rem;

.hero {
	height: $hero-height;
	margin: 0 $view-mx-mobile;

	display: flex;
	flex-direction: column;
	justify-content: center;

	font-size: 1.4rem;

	h1 {
		margin: 0;
	}
}

.progress-ring {
	display: grid;
	place-items: center;
	position: relative;

	svg {
		display: block;
		width: $progress-ring-diameter;
		height: $progress-ring-diameter;
		transform: rotate(-90deg);

		circle {
			fill: none;
			stroke: $monochrome-0;
			stroke-width: 10;
			stroke-linecap: round;
		}

		.foreground {
			stroke: lightgreen;
			stroke-dasharray: 314;
		}
	}

	span {
		position: absolute;
		display: block;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.5rem;
	}
}
