@import "./variables.scss";

$greeting-height: 25vh;

$progress-diameter: 12rem;

#greeting {
	height: $greeting-height;

	display: flex;
	flex-direction: column;
	justify-content: center;

	font-size: 1.4rem;
	text-align: center;

	h1 {
		margin: 0;
	}
}

#timer {
	.progress-container {
		display: grid;
		place-items: center;

		svg {
			display: block;
			width: 10rem;
			height: 10rem;

			circle {
				fill: none;
				stroke: $monochrome-0;
				stroke-width: 10;
				stroke-linecap: round;
			}

			.foreground {
				stroke: $monochrome-2;

				stroke-dasharray: 625px;
				stroke: #3498db;
			}
		}
	}
}
