@import "./variables.scss";

$greeting-height: 25vh;

$progress-diameter: 12rem;

#greeting {
	height: $greeting-height;

	display: flex;
	flex-direction: column;
	justify-content: center;

	font-size: 1.4rem;
	text-align: center;

	h1 {
		margin: 0;
	}
}

#timer {
	.progress-container {
		display: grid;
		place-items: center;
		position: relative;

		svg {
			display: block;
			width: 10rem;
			height: 10rem;
			transform: rotate(-90deg);

			circle {
				fill: none;
				stroke: $monochrome-0;
				stroke-width: 10;
				stroke-linecap: round;
			}

			.foreground {
				stroke: lightgreen;
				stroke-dasharray: 314;
			}
		}

		span {
			position: absolute;
			display: block;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-size: 1.5rem;
		}
	}
}
