@import "./variables.scss";

$greeting-height: 25vh;

$progress-diameter: 12rem;

.hero {
	text-align: center;
}

.rep-counter {
	margin-top: 1rem;
}

.todo-list {
	margin: 0 $view-mx-mobile;
	margin-top: 2rem;
}
