@import "./variables.scss";

$bar-mobile-height: 4rem;

$transition-duration: 0.25s;

nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	.directory {
		background-color: $monochrome-1;
		color: $color-0;

		display: flex;
		flex-direction: column;

		padding: 2rem 4rem;
		border-top-left-radius: 2rem;
		border-top-right-radius: 2rem;

		transform: translateY(100%);
		transition: all $transition-duration ease-in-out;
		opacity: 0;

		position: absolute;
		left:0;
		right: 0;
		bottom: calc( $bar-mobile-height);

		&.active {
			transform: translateY(0);
			opacity: 1;
			display: block;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: flex;
				flex-direction: column;

				&:not(:last-of-type)::after {
					content: "";
					display: block;
					height: 2px;
					background-color: $monochrome-2;
					margin: 1rem 0;
				}

				a {
					text-decoration: none;
					text-align: center;
					font-size: 1.25rem;
					color: $color-0;
					display: block;
				}

				a.button {
					background-color: transparent;
					border: 1px solid $color-0;
					border-radius: 99rem;
					padding: 0.5rem 0;
				}
			}
		}
	}

	.bar {
		background-color: $monochrome-0;
		color: $color-0;

		height: $bar-mobile-height;
		padding: 0.5rem 1rem;

		display: flex;
		flex-direction: row;
		position: relative;

		.brand {
			display: flex;
			flex-direction: row;

			img {
				height: 100%;
			}

			.text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-left: 0.5rem;

				span:nth-of-type(2) {
					font-weight: 300;
					font-size: 0.8rem;
					align-self: center;
				}
			}
		}

		.burger {
			aspect-ratio: 1;
			margin: 0.5rem 0.5rem 0.5rem auto;
			border: 1px solid $color-0;
			border-radius: 0.75rem;

			position: relative;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			span,
			span::before,
			span::after {
				height: 2px;
				position: absolute;
				background-color: $color-0;
				transition: all $transition-duration ease-in-out;
			}

			span {
				width: calc(100% - (2 * 0.75rem));
			}

			span::before,
			span::after {
				content: "";
				width: 100%;
			}

			span::before {
				transform: translateY(-0.5rem);
			}
			span::after {
				transform: translateY(0.5rem);
			}

			&.active {
				span {
					background-color: transparent;
				}

				span::before {
					transform: rotate(45deg);
				}
				span::after {
					transform: rotate(-45deg);
				}
			}
		}
	}
}
