@import "./variables.scss";

.home {
	.hero {
		text-align: center;

		h1,
		h2 {
			margin: 0;
		}

		h1:only-child,
		h2:nth-child(2) {
			font-size: 2.5rem;
		}

		h1 {
			font-weight: 300;
			font-size: 1.25rem;
		}
	}

	.rep-counter,
	.controls {
		margin-top: 1rem;
	}

	.reminders {
		margin: 0 $view-mx-mobile;
		margin-top: 2rem;
	}
}

.settings {
	.hero {
		text-align: center;
		
		h1 {
			font-weight: 300;
			font-size: 2.5rem;
		}
	}

	.settings-container {
		display: flex;
		flex-direction: column;
		margin: 0 $view-mx-mobile;

		.setting-block {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}

			.setting-label {
				display: block;
				font-size: 1.2rem;
				margin-bottom: 0.5rem;
			}
	
			.range-container {
				display: flex;
				flex-direction: row;
	
				input {
					width: 80%;
				}
	
				span {
					width: 20%;
					text-align: end;
				}
			}
		}
	}
}

@media screen and (min-width: 1000px) {
	.home {
		position: relative;

		.view-left {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: calc((100%) / 2);

			.hero {
				height: 8rem;
			}
		}

		.view-right {
			position: relative;
			left: calc(((100%) / 2));
			top: 0;
			width: calc(100% / 2);
			padding-top: 2rem;

			.reminders:first-child {
				margin-top: 0;
			}
		}
	}

	.settings .settings-container {
		width: 400px;
		margin: 0 auto;
	}
}
